<div class="row">
  <div class="col-md-12">
    <h1 class="has-subtitle">Practice time !</h1>
    <p>Choose an exercise you want to work on.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% @practice_session.path.exercise_categories.each do |c| %>
      <div class="exercise-grid-block">
        <h3><%= c.name %></h3>
        <table class="table">
          <thead>
            <tr>
              <th>Exercice</th>
              <th></th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% c.exercises.each do |e| %>
              <tr>
                <td><%= e.name %></td>
                <td><% if e.uses_scales %> <span class="btn btn-info btn-xs">Scale</span><% end %></td>
                <td><%= e.short_description %></td>
                <td><%= link_to "Start exercise", start_user_exercise_path(id: e.friendly_id), class: "btn btn-success btn-sm" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>


